web:
  container_name: ${CONTAINERS_PREFIX}_dev
  build: .
  ports:
    - "8000:8000"
  links:
    - db
  volumes:
    - .:/usr/src/myapp
data:
  container_name: ${CONTAINERS_PREFIX}_data
  build: ./data
db:
  image: mysql:5.7
  container_name: ${CONTAINERS_PREFIX}_db
  volumes_from:
    - data
  ports:
    - "3306:3306"
  environment:
    MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
